services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
    volumes:
      - "./infra/localstack:/var/lib/localstack"

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: bingo_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"